@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    padding-block: 2rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
   'one'
   'two'
   'three'
   'four'
   'five';
}

p {
    white-space: break-spaces;
    word-break: break-word;
}

main > article:nth-child(1) {
    grid-area: one;
}
main > article:nth-child(2) {
    grid-area: two;
}
main > article:nth-child(3) {
    grid-area: three;
}
main > article:nth-child(4) {
    grid-area: four;
}
main > article:nth-child(5) {
    grid-area: five;
}

@media screen and (min-width: 33em) {
    main {
        grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four";
    }
}

@media screen and (min-width: 38em) {
    main {
        grid-template-areas:
     'one one'
     'two five'
     'three five'
     'four four';
    }
}

@media screen and (min-width: 54em) {
    main {
        grid-template-areas:
      "one one two"
      "five five five"
      "three four four";
    }
}

@media screen and (min-width: 75em) {
    main {
        grid-template-areas:
      "one one two five"
      "three four four five";
    }
}
